body {
    font-family: fantasy, arial,sans-serif;
    margin: 0px;
    font-size: 1.9vw;
}

p{ 
    font-size: 0.9em;
}
#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka one",sans-serif;
    width: 23%;
    border-radius: 20%;
     text-shadow: 
      2px 2px 0px black,  /* Bottom right */
     -2px 2px 0px black, /* Bottom left */
     2px -2px 0px black, /* Top right */
     -2px -2px 0px black; /* Top left */
      
}

cite>a {
    display: inline-block;
    width: 100px;
    height: 50px;

}

ul{
    margin: 0px;
}
body > header {
    background-color: rgb(206, 130, 187);
    color: #ffffff;
    display: flex;
    height: 13vh;
    align-items: center;
    justify-content: space-around;
    grid-area: header;
}
#menu{
    padding: 32px;
    background-color: rgb(186, 102, 145);
    grid-area: menu;
    align-items: left;
    display: flex;
}

#nav-ul{
    display: flex;
}
#nav-ul> li{
padding: 8px;
margin: 16px;
}

body>header > nav > ul{
    list-style: none;
    text-decoration: none;

}
.navbutton{
    color: rgba(248, 230, 184, 0.976);
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}
body > main article {
    width: 70%;
    margin: auto;
}

#main-content >div{
    width: 70%;
    justify-content: space-around;
    grid-area: main;
    display: flex;
    padding: 32px;
}
form {
    text-align: center;
}

h2{
    text-align: center;
}
body > footer{
    display: flex;
    padding: 16px;
    background-color: rgb(206, 130, 187);;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
}
img{ 
    border-radius: 50%;
    width: 150px;    
    height: 150px;    
}
#footer-ul{
    display: flex;
    list-style: none;
}
#footer-ul > div >li {
    margin-left: 12px;
}
#footer-ul > div >li>a{
    color:rgba(248, 230, 184, 0.976);
    text-decoration: none;
    grid-area: footer ;
}
#grid-container{
    display: grid;
    grid-template-areas:
    "header header "
    "menu main"
    "footer footer"
    ;
    grid-template-columns: 1fr 6fr;
}
nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container {
    display: flex;      /* Makes the sections align horizontally */
    justify-content: space-between; /* Optional: adds space between the sections */
}

.Filterbydessert, .Filterbycake {
    width: 48%;         /* Adjust the width of each section */
    padding: 20px;
    background-color: #f0f0f0;
}
